torch
torchvision
timm
scikit-learn
scikit-image
scipy
albumentations
opencv-python-headless
grad-cam
pandas
numpy
matplotlib
seaborn
pillow
imagehash
pyyaml
tqdm
# Optional Week 12 SAM masks:
# pip install git+https://github.com/ChaoningZhang/MobileSAM.git
# Download weights/mobile_sam.pt separately